{# templates/tienda/intermedia.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Bienvenido a la Tienda de Twig{% endblock %}
{% block barra_lateral %}
  <ul>
    <li><a href="index.php">Inicio</a></li>
    <li><a href="#">Peluches</a></li>
    <li><a href="#">Camisetas</a></li>
    <li><a href="#">Posters</a></li>
  </ul>
{% endblock %}

{% block footer %}
<p class="footer">Todos los artículos que se venden en la tienda son 100% ecológicos</p>
{% endblock %}
