{# templates/tienda/ofertas.html.twig #}
{% extends 'tienda/intermedia.html.twig' %}

{% block contenido %}
  <h2>Gatito Mimoso</h2>
  <img src="" alt="Un lindo gatito">
  <p>Me parece haber visto un lindo y mimoso gatito</p>
  <p>Precio: 200€</p>
{% endblock %}
