{# templates/inicio.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Bienvenido a la web de Twig{% endblock %}

{% block contenido %}
    <h2>Herencia compleja en Twig</h2>
    <p>Vamos a ver como una plantilla de Twig puede heredar contenido en cascada</p>
{% endblock %}
